.nav {
    height: 10vh;
    width: 100%;
    background-color: #020B12;
    position: relative;
  }
  
  .nav > .navHeader {
    display: inline;
  }
  
  .nav > .navHeader > .navTitle img {
    padding-left: 5px;
    height: 7vh;
  }
  
  .nav > .navBtn {
    display: none;
  }
  
  .nav > .navLinks {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .navLinks > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #DB5860;
  }
  
  .nav > .navLinks > a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #DB5860;
    position: absolute;
    transition: all ease-in-out .5s;
    margin: 1.1% 0 0 0;
  }

  .nav > .navLinks > a:hover::before {
    width: 1%;
  }

.active {
    color: white !important;
    border-top: 1px #DB5860 solid;
    box-shadow: inset 0px 111px 64px -134px rgba(255,255,255,1);
}
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:630px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #020B12;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }